[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cairosvg = "*"
reportlab = "*"
flask = "*"
flask-restful = "*"
flask-jsonpify = "*"
flask-cors = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
